@import "../../styles/styles.scss";

#header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  height: 60px;
  background-color: $primary-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.98;
}

#header1 > a {
  text-decoration: none;
}

#title1{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#AboutUs1{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width: 768px) {
  #header1{
    justify-content: center;
  }
  #title1 {
    display: none;
  }
  #AboutUs1 {
    display: none;
  }
  #logo1 {
    width: 80px;
    margin: 0 auto; 
  }
}