@import "../../styles/styles.scss";
.Authentication-Main{
  background-image: url("../../assets/Background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.Authentication-Container{
  border-radius: 20px;
  width: 50%;
  height: 70%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  color: white;
  margin-left: 10%;
  margin-top: 20vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Authentication-Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Authentication-Form h2{
  font-size: 3vw;
}

.Authentication-Form input:focus {
  background: transparent;
  color: $secondary-color;
}

// .Authentication-Form input[type=text] {
//   font-size: 1vw;
// }
// .Authentication-Form input[type=password] {
//   font-size: 1vw;
// }
.Authentication-Form button[type=submit] {
  font-size: 1vw;
  background-color: $button;
  color: $white;
  padding: 1vw 2vw;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  margin:1vw;
}

.Authentication-Form button[type=submit]:hover {
  background-color: $hover;
}

.switch-authentication{
  display: flex;
  flex-direction: row;
}

.Switching-Button{
  color: $button;
  text-decoration: none;
}

.Switching-Button:hover{
  color: $secondary-color;
}

@media only screen and (max-width: 1024px) {
  .Authentication-Main{
    background-image: url("../../assets/BackgroundMobile.png");
  }
  .Authentication-Container{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 17vh;
  }
  .Authentication-Form h2{
    font-size: 8vw;
  }
  .Authentication-Form button[type=submit] {
    font-size: 2vw;
    padding: 2vw 8vw;
    margin: 2vw;
  }
  .switch-authentication{
    font-size: 2vw;
  }
  
}

@media only screen and (max-width: 820px) {
  .Authentication-Container{
    width: 100%;
    height: 95%;
    margin-left: 0;
    margin-top: 0;
  }
  .Authentication-Form button[type=submit] {
    font-size: 3vw;
    margin: 2vw;
  }
  .switch-authentication{
    font-size: 3vw;
  }
}