@import "../../styles/styles.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

// VARIABLES
$food: url("http://img.taste.com.au/UZVXAdo7/taste/2016/11/chinese-egg-noodle-and-vegetable-stir-fry-94186-1.jpeg") no-repeat center;

// FONT
$font: 'Roboto', sans-serif;

.CoverRecipe{
    height:100%;
    width:100%;
    background-color:rgb(49, 49, 49);
}

.Intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: $white;
   padding: 20px;
}

* {
   margin: 0;
   padding: 0;
   font-family: $font;
   list-style-type: none;
   text-decoration: none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
}



.card {
    position: relative;
    background: $white;
    width: 20%;
    margin: 20px auto;
    box-shadow: 0px 0px 30px 2px #000;
   .cardImage{
      background-size: cover;
      height: 40%;
      width: 100%;
      padding: 5px;
   }
   .text {
      .food {
         color: $black;
         text-align: left;
         font-weight: normal;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         margin: 5px 30px;
         font-size: x-large;
      }
   }
   .info {
      margin: 10px 30px;
   }
   a.btn {
      display: block;
      background: $button;
      color: $white;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      padding: 10px;
      transition: 250ms;
      &:hover {
         background: $hover;
         transition: 250ms;
      }
   }
}

