@import "../../styles/styles.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

// VARIABLES
$food: url("http://img.taste.com.au/UZVXAdo7/taste/2016/11/chinese-egg-noodle-and-vegetable-stir-fry-94186-1.jpeg") no-repeat center;

// FONT
$font: 'Roboto', sans-serif;

.CoverRecipe{
    height:100%;
    width:100%;
    background-color:rgb(49, 49, 49);
}

.Intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: $white;
   padding: 20px;
}


