$white: #fff;
$black: #212129;

$hover: #650f0f;
$button: #de1f1f;
$button-border: #de1f1f;
$primary-color: #171717;
$secondary-color: white;
$primary-color-dark: #0f0f0f;


$current-location: #FFF;

$about-us-image: rgb(2, 64, 2);