@import "../../styles/styles.scss";

// .fixed-top {
//     position: relative !important;
// }

.RightNavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CurrentRoute{
    color: $current-location !important;
    font-weight: bold !important;
    opacity: 1 !important;
}

.HeaderOpacity{
    opacity: 0.9;
}

.navbar-toggler-icon{
    background-image: url("../../assets/hamburger-icon.png") !important;
}