.shopping-list {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 20px auto;
    font-family: 'Georgia';
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .remove-btn {
    background-color: #006D5B;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: #0f8e78;;
  }

    .remove-btn:active {
        background-color: #ddd;
    }
  
  #add{
    background-color: #006D5B;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }

  #add:hover {
    background-color: #0f8e78;;
  }

  #add:active {
    background-color: #ddd;
  }

  #addbar{
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: light beige;
    padding: 8px;
    width: 180px;
  }