@import "../../styles/styles.scss";


/* Styles for the search container */
#searchContainerIngredients {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    width: 63%;
    margin:0 auto;
    flex-direction: row;
  }
  
/* Styles for the search input */
#searchInputIngredients {
    flex-grow: 1;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: $black;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  /*this is the text that appears in the search bar*/
#searchInputIngredients::placeholder {
    color: $black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  /*this is the styling for the search bar when you hover over it*/
#searchInputIngredients:hover,
#searchInputIngredients:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
  }
  
  /* Styles for the button */
#getIngredients {
    font-size: 14px;
    margin: 0 auto;
    line-height: 18px;
    background-color: $button;
    color: $white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-left: 20px;;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    text-transform: uppercase;

}

#getIngredients:hover{
  background-color: $hover;
}

// ----------------------------------------------------------------------------------------- //

// slider
#sliderIngredient {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0px 20%;
  margin: 0 auto;
  width: 80%;
}


// ingredientContainer
.card-deck {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center; 
}

// ingredient card
 .ingredientCard {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 100vh !important;
    height: 22em;
    overflow-y:hidden ;
  }

  // ingredient title
  .ingredientTitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }
  


  // ingredient list
  .ingredientList{
    overflow-y: scroll;
    height: 20em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: justify;
  }
  

  // ingredient list item
  .ingredient-details {
    padding: 1em;
    font-size: 15px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    color: $secondary-color;
    background-color: $primary-color-dark;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: 2px solid $secondary-color;
    margin: 0.5em;
    margin-left:0;
    accent-color: $button;
  }
  .ingredient-details::-webkit-scrollbar {
    display: none;
  }



@media (max-width: 912px){
  #sliderIngredient {
    width: 100%;
  }
  .ingredientCard {
    width: 80vh !important;
    height: max-content !important;
  }


  #searchContainerIngredients {
    width: 90%;
  }

}

  @media (max-width:767px) {

    #searchInputIngredients, #getIngredients{
      padding: 10px 10px;
      font-size: 10px;
    }

    .ingredientCard {
      width: 80vh !important;
      height: max-content !important;
    }

    .ingredientTitle{
      font-size: 9px !important;
      text-decoration: underline;
    }
    .ingredient-details{
      font-size: 9px !important;
    }
  }

  @media (max-width: 280px){
    #searchContainerIngredients{
      width: 100%;
      display: flexbox;
      flex-direction: column;
    }
  }