@import "../../styles/styles.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.card {
  width: 20vw;
  height: auto;
}
.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.btn-primary {
    background-color: $button !important;
    border-color: $button-border !important;
    color: $secondary-color !important;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
  
    &:hover {
      background-color: $hover !important;
      border-color: $hover !important;
      color: $secondary-color !important;
    }
  }


@media only screen and (max-width: 767px) {
  .card {
    width: 45vw;
    height: auto;
  }
  .card-img-top {
    height: 100px;
  }
  .container{
    padding: 1% !important;
  }
  .card-title{
    font-size: 0.7rem;
  }
  .card-text{
    font-size: 0.6rem;
  }
  .btn-primary{
    font-size: 0.6rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 30vw;
    height: auto;
  }
  .card-img-top {
    height: 150px;
  }
  .container{
    padding: 2% !important;
  }
  .card-title{
    font-size: 1rem;
  }
  .card-text{
    font-size: 0.9rem;
  }
  .btn-primary{
    font-size: 0.8rem !important;
  }
}

