@import "../../styles/styles.scss";

/* Styles for the search container */
#searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 265px;
    padding-top: 60px;
    width: 63%;
  }
  
/* Styles for the search input */
#searchInput {
    flex-grow: 1;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  /*this is the text that appears in the search bar*/
#searchInput::placeholder {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  /*this is the styling for the search bar when you hover over it*/
#searchInput:hover,
#searchInput:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
  }
  
  /* Styles for the button */
#getIngredients {
    font-size: 14px;
    line-height: 18px;
    background-color: $button;
    color: $white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-left: 20px;;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    text-transform: uppercase;

}

// ----------------------------------------------------------------------------------------- //

.card-deck {
  display: flex;
  margin-right: 50px;
  padding: 20px 0;
  justify-content: center;
  align-items: center; 
  width:fit-content;
}

#sliderIngredient {
    overflow-x: scroll;
    margin-left: 200px;;
    margin-right: 200px;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 20%;
  }


/* Styles for the ingredient container */
#ingredientContainer {
    display: flex;
    margin-right: 50px;
    padding: 20px 0;
    justify-content: center;
    align-items: center; 
    width:fit-content;
  }
  
  .ingredientList{
    overflow-y: scroll;
    height: 15em;
  }

  /* Styles for the ingredient card */
  .ingredientCard {
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
    width: 20em;
    height: 20em;
  }
  
  /*this is the styling for the ingredient cards when you hover over them*/
  .ingredientCard:hover {
    transform: translateY(-10px);
  }
  .ingredientTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
  }
  
  .ingredientList{
    text-align: center;
    padding: 10px;
  }

  
  #sliderIngredient::-webkit-scrollbar {
    display: none;
  }

  .ingredientContent {
    padding: 15px;
  }
  .ingredientButton {
    display: none;
  }
  
  .ingredientCard:hover .ingredientButton {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }

  @media (max-width: 600px) {
    .ingredientCard {
      width: 15em;
      height: 15em;
    }

    #sliderIngredient {
      width: 100%;
      overflow: scroll;
    }
    
    .ingredientTitle {
      font-size: 1em;
    }

    #searchInput::placeholder {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: smaller;
    }

  }
  