@import "../../styles/styles.scss";

.aboutus{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../../assets/Background.png");
    background-size: cover;
    background-position: left;
}

.about-us-container {
    position: relative;
    text-align: center;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-left: 10%;
}



.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.team-member {
    margin: 20px;
    flex: 1 0 calc(50% - 40px);
    max-width: calc(50% - 90px);
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team-member h3 {
    margin-top: 10px;
}

.team-member p {
    margin-top: 5px;
}
@media (max-width: 600px) {
    .aboutus{
        height: max-content;
    }

    .about-us-container {
        margin-left: 0;
        width: 100%;
        height: max-content;
    }

    .team-container {
        flex-direction: column;
    }

    .team-member {
        flex: 1 0 100%;
        max-width: 100%;
    }
    
}