.bot-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs-button--attachment{
    display: none !important;
}

.cs-message-input__content-editor-wrapper{
    margin-left: 4px !important;
}

.chatbot-container{
    height: 70vh; 
}