@import "../../styles/styles.scss";


@mixin main-gradient {
  background: $color-primary;
}

@mixin shadow-box {
  background-color: $color-neutral-lt;
  box-shadow: $shadow;
}

@mixin skew {
  transform: skew(-20deg);
}

@mixin unskew {
  transform: skew(20deg);
}

/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}




section {
  height: 100vh;
}


/*-------------Helpers-------------*/
.skew {
  @include skew;
}

.un-skew {
  @include unskew;
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.98;
}

#nav {
  @include shadow-box;
  display: flex;
  flex-direction: column;
  font-family: $headings-font;
  height: 4em;
  overflow: hidden;
  //height fit content + a little
  height: fit-content;


  &.nav-visible {
    height: 100%;
    overflow: auto;
  }
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}


.nav-link {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  span.gradient {
    @include main-gradient;
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
    transition: padding-right 0.3s ease-in-out; // add transition property
  
    &:hover {
      padding-right: 5em;
    }
  }

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: $color-neutral-lt;
}

h1.logo #{$a-tags} {
  text-decoration: none;
  color: $color-neutral-lt;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid $color-neutral-med;
}

#{$a-tags-no-hov} {
  text-decoration: none;
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: $color-primary;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav #{$a-tags-no-hov} {
    &.active {
      @include main-gradient;
      color: $black;
    }
  }

  .nav-link-span {
    @include unskew;
    display: inline-block;
  }

  .nav-link {
    @include skew;
    color: #777;
    text-decoration: none;

    &:last-child {
      padding-right: 3em;
    }
  }

  a:hover.nav-link:not(.active) {
    color: $black;
    background: $white;
  }
}

@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}
