@import "../../styles/styles.scss";

.cardImage {
    background-size: cover;
    padding: 10px;
    width: 300px;
    height: 200px;
}

.CookButton {
    background-color: $button !important; 
    color: $white !important;
    text-transform: uppercase;
    letter-spacing: 0.1em !important;
    padding: 10px !important;
    transition: 250ms !important;
    border: solid $button-border !important ;

    &:hover {
        background: $hover !important;
        transition: 250ms !important;
    }
}

.CardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 992px){
    #card{
        width: 150px;
        height: 230px;
    }

    .cardImage{
        width: 150px;
        height: 100px;
        padding: 5px;
    }

    .CardBody{
        font-size: 10px;
        padding: 0;
        margin-top: 0;

        .food1{
            font-size: 10px;
            padding: 0;
            margin-top: 0;
        }
    }

    .CookButton{
            font-size: 10px;
            list-style-position: inside;
            padding: 3px;
            width: 100px;
            height:5px;
            color: $black !important;
    }
}