@import "../../styles/styles.scss";

.cardImage {
    background-size: cover;
    padding: 10px;
    width: 300px;
    height: 200px;
}

.CookButton {
    background-color: $button !important; 
    color: $white !important;
    text-transform: uppercase;
    letter-spacing: 0.1em !important;
    padding: 10px !important;
    transition: 250ms !important;
    border: solid $button-border !important ;

    &:hover {
        background: $hover !important;
        transition: 250ms !important;
    }
}

.CardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
